
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <style>
      
  .option {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent; /* Default border */
    width: 100px; /* Adjust the width as needed */
  }
  .option.selected {
    border-color: blue; /* Blue border for selected option */
  }
  .option:hover {
    background-color: #f0f0f0;
  }
  .option-icon {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .option-label {
    font-size: 14px;
  }
    </style>
  <body>
    <!-- Preloader -->

    <!-- --------------------------------------------------- -->
    <!-- Body Wrapper -->
    <!-- --------------------------------------------------- -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <!-- --------------------------------------------------- -->
      <!-- Sidebar -->
      <!-- --------------------------------------------------- -->
      
        <!-- Sidebar scroll-->
        {% include 'sidebar-user.html' %}
        <!-- End Sidebar scroll-->
      <!-- --------------------------------------------------- -->
      <!-- Main Wrapper -->
      <!-- --------------------------------------------------- -->
      <div class="body-wrapper">
        <!-- --------------------------------------------------- -->
        <!-- Header Start -->
        <!-- --------------------------------------------------- -->

        <!-- --------------------------------------------------- -->
        <!-- Header End -->
        <!-- --------------------------------------------------- -->


        

        <div class="container-fluid note-has-grid">
            <div class="card bg-light-info shadow-none position-relative overflow-hidden">
              <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                  <div class="col-9">
                    <h4 class="fw-semibold mb-8">My Case Records</h4>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-muted text-decoration-none" href="{{url_for('dashboard')}}">Dashboard</a></li>
                        <li class="breadcrumb-item" aria-current="page">My Case Documents </li>
                      </ol>
                    </nav>
                  </div>
                  <div class="col-3">
                    <div class="text-center mb-n5">  
                      <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ul class="nav nav-pills p-3 mb-3 rounded align-items-center card flex-row">
              <li class="nav-item">
                <a href="javascript:void(0)" class="
                        nav-link
                      
                        note-link
                        d-flex
                        align-items-center
                        justify-content-center
                        active
                        px-3 px-md-3
                        me-0 me-md-2 text-body-color
                      " id="all-category">
                  <i class="ti ti-list fill-white me-0 me-md-1"></i>
                  <span class="d-none d-md-block font-weight-medium">All Case Documents</span>
                </a>
              </li>
              
              <li class="nav-item ms-auto">
                <a href="javascript:void(0)" class="btn btn-primary d-flex align-items-center px-3" id="add-notes">
                 <i class="ti ti-file me-0 me-md-1 fs-4"></i>
                  <span class="d-none d-md-block font-weight-medium fs-3">Upload Documents</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="note-full-container" class="note-has-grid row">
                {% for report in data['docs'] %}
                 <!-- Loop for Documents -->

                  <div class="col-md-4 single-note-item all-category">
                    <div class="card card-body">
                      <span class="side-stick"></span>
                      <h6 class="note-title text-truncate w-75 mb-0" data-noteheading=""></h6>
                      <div class="note-content">
                        <p class="note-inner-content" data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">{{ report}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <a href="{{ url_for('display_pdf', filename= report)}}"  class="link text-danger ms-2">
                          <i class="ti ti-files" style="font-size: large;"></i>
                        </a>
                        
                      </div>
                    </div>
                  </div> 
                {% endfor %}
                

                
            <!-- Modal Add notes -->
            <div class="modal fade" id="addnotesmodal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                  <div class="modal-header bg-primary">
                    <h6 class="modal-title text-white">Upload New Documents</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Your form content -->
                    <div class="notes-box">
                      <div class="notes-content">
                        <form method="post" action="/my_documents" enctype="multipart/form-data" id="addnotesmodalTitle">
                          <div class="row">
                            <div class="col-md-12 mb-3">
                              <div class="note-description">
                                <label>Upload Reports</label>
                                <input type="file" name="file" value="file"class="form-control" />
                              </div>
                            </div>
                            
                          </div>
                      
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                   
                    <button type="submit" class="btn btn-primary" >Upload</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
            
            <!-- <div class="modal fade" id="addnotesmodal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0">
                  <div class="modal-header bg-primary">
                    <h6 class="modal-title text-white">Upload New Health Records</h6>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="notes-box">
                      <div class="notes-content">
                        <form  method="post" action="/upload" enctype="multipart/form-data"  id="addnotesmodalTitle">
                          <div class="row">
                            <div class="col-md-12 mb-3">
                              <div class="note-description">
                                <label>Upload Reports</label>
                                <input type="file" id="note-has-description" class="form-control" placeholder="Description" />
                              </div>
                            </div>
                            <div class="col-md-12">
                              <label>Select Report Type</label>
                            <div class="row">
                              
                            <div class="col-sm-4">
                               
                                <div class="option" onclick="selectOption('Bill', this)">
                                  <div class="option-icon">
                                    <img src="bill-icon.png" >
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="option" onclick="selectOption('Prescription', this)">
                                  <div class="option-icon">
                                    <img src="prescription-icon.png">
                                  </div>
                                  
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="option" onclick="selectOption('Scan Report', this)">
                                  <div class="option-icon">
                                    <img src="scan-icon.png" >
                                  </div>
                                </div>
                                </div>
                            </div>
                            </div>
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button id="btn-n-add" class="btn btn-primary" disabled>Add</button>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <script>
        function showErrorAlert(message) {
            Swal.fire({
                icon: 'Success',
                title: 'Upload Status',
                text: message,
                confirmButtonText: 'OK'
            });
        }
        </script>
        {% if message %}
            <script>
            showErrorAlert("{{ message }}");  </script>
        {% endif %}

    {% include 'footer.html' %}
    <!-- ---------------------------------------------- -->
    <!-- current page js files -->
    <!-- ---------------------------------------------- -->
    <script src="{{ url_for('static', filename='dist/js/apps/chat.js') }}"></script>
    
    <script src="{{ url_for('static', filename='dist/js/apps/notes.js')}}"></script>
  </body>
</html>