<script src="{{ url_for('static', filename='dist/libs/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/libs/simplebar/dist/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/app.init.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/app-style-switcher.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/sidebarmenu.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='dist/js/manual/manual.js')}}"></script>
