<head>
    <!--  Title -->
    <title>LAWGPT</title>
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="handheldfriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="description" content="Mordenize">
    <meta name="author" content="">
    <meta name="keywords" content="Mordenize">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='dist/images/logos/logo.png') }}">
    <!-- Core Css -->
    <link id="themeColors" rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.min.css') }}">
  </head>