<div
  class="review-slider"
  data-aos="fade-up"
  data-aos-delay="400"
  data-aos-duration="1000"
>
  <div class="owl-carousel owl-theme">
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-1.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Jenny Wilson</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 mb-0 text-dark">
            The dashboard template from adminmart has helped me provide a clean
            and sleek look to my dashboard and made it look exactly the way I
            wanted it to, mainly without having.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-2.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Minshan Cui</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            The quality of design is excellent, customizability and flexibility
            much better than the other products available in the market. I
            strongly recommend the AdminMart to other buyers.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-3.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Eminson Mendoza</h6>
                <p class="mb-0 fw-normal">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            This template is great, UI-rich and up-to-date. Although it is
            pretty much complete, I suggest to improve a bit of documentation.
            Thanks & Highly recomended!
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-1.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Jenny Wilson</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 mb-0 text-dark">
            The dashboard template from adminmart has helped me provide a clean
            and sleek look to my dashboard and made it look exactly the way I
            wanted it to, mainly without having.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-2.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Minshan Cui</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            The quality of design is excellent, customizability and flexibility
            much better than the other products available in the market. I
            strongly recommend the AdminMart to other buyers.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-3.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Eminson Mendoza</h6>
                <p class="mb-0 fw-normal">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            This template is great, UI-rich and up-to-date. Although it is
            pretty much complete, I suggest to improve a bit of documentation.
            Thanks & Highly recomended!
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-1.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Jenny Wilson</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 mb-0 text-dark">
            The dashboard template from adminmart has helped me provide a clean
            and sleek look to my dashboard and made it look exactly the way I
            wanted it to, mainly without having.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-2.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Minshan Cui</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            The quality of design is excellent, customizability and flexibility
            much better than the other products available in the market. I
            strongly recommend the AdminMart to other buyers.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-3.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Eminson Mendoza</h6>
                <p class="mb-0 fw-normal">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            This template is great, UI-rich and up-to-date. Although it is
            pretty much complete, I suggest to improve a bit of documentation.
            Thanks & Highly recomended!
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-1.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Jenny Wilson</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 mb-0 text-dark">
            The dashboard template from adminmart has helped me provide a clean
            and sleek look to my dashboard and made it look exactly the way I
            wanted it to, mainly without having.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-2.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Minshan Cui</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            The quality of design is excellent, customizability and flexibility
            much better than the other products available in the market. I
            strongly recommend the AdminMart to other buyers.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-3.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Eminson Mendoza</h6>
                <p class="mb-0 fw-normal">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            This template is great, UI-rich and up-to-date. Although it is
            pretty much complete, I suggest to improve a bit of documentation.
            Thanks & Highly recomended!
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-1.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Jenny Wilson</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 mb-0 text-dark">
            The dashboard template from adminmart has helped me provide a clean
            and sleek look to my dashboard and made it look exactly the way I
            wanted it to, mainly without having.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-2.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Minshan Cui</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            The quality of design is excellent, customizability and flexibility
            much better than the other products available in the market. I
            strongly recommend the AdminMart to other buyers.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-3.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Eminson Mendoza</h6>
                <p class="mb-0 fw-normal">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            This template is great, UI-rich and up-to-date. Although it is
            pretty much complete, I suggest to improve a bit of documentation.
            Thanks & Highly recomended!
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-1.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Jenny Wilson</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 mb-0 text-dark">
            The dashboard template from adminmart has helped me provide a clean
            and sleek look to my dashboard and made it look exactly the way I
            wanted it to, mainly without having.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-2.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Minshan Cui</h6>
                <p class="mb-0 text-dark">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            The quality of design is excellent, customizability and flexibility
            much better than the other products available in the market. I
            strongly recommend the AdminMart to other buyers.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between mb-4">
            <div class="d-flex align-items-center">
              <img
                src="{{ url_for('static', filename='landing/dist/images/profile/user-3.jpg') }}"
                alt=""
                class="w-auto me-3 rounded-circle"
                width="40"
                height="40"
              />
              <div>
                <h6 class="fs-4 mb-1 fw-semibold">Eminson Mendoza</h6>
                <p class="mb-0 fw-normal">Features avaibility</p>
              </div>
            </div>
            <div>
              <ul
                class="list-unstyled d-flex align-items-center justify-content-end gap-1 mb-0"
              >
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="{{ url_for('static', filename='landing/dist/images/svgs/icon-star.svg') }}"
                      alt=""
                      class="img-fluid"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="fs-4 text-dark mb-0">
            This template is great, UI-rich and up-to-date. Although it is
            pretty much complete, I suggest to improve a bit of documentation.
            Thanks & Highly recomended!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
